@import url('https://fonts.googleapis.com/css?family=Bangers');
body {
    background: #000 url("./bilder/Jorden.jpg") no-repeat center bottom; 
    background-size: 500px;
    background-attachment: fixed;   
}
h1 {
    color: #fff;
    font-family: 'Bangers', cursive;
    font-size: 80px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: darkblue;
    border: 1px solid #fff;
    padding: 20px; 
}
h2 {
    color: #fff;
    font-family: 'Bangers', cursive;
    font-size: 30px;
    width: 600px;
    text-align: center;
    margin: 20px auto;
    background-color: darkblue;
    border: 1px solid #fff;
    padding: 20px;
}