@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Taviraj');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
/*sidan utseende */
body {
    background: url(./bilder/daggros.jpg);
    background-size: 5000px;
    background-attachment: fixed;
    

}
div.kontainer {
    width: 800px;
    padding: 30px;
    color: white;
    background: linear-gradient(to bottom, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%);
    margin: 150px auto;
    border-radius: 5px;
  

}
h1 { 
    font-family: 'Great Vibes', cursive;
    font-size: 70px;
    text-align: center;
    text-shadow: 3px 3px 10px #000;

}
div.ros {
    font-family: 'Taviraj', serif;
    background:linear-gradient(to bottom, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%);
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;

}
img { width: 400px;
    background-color: white;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #000;

}
p {

}
.vanster {
    float: left;
    margin-right: 20px;

}
.hoger {
    float: right;
    margin-left: 20px;
}
hr {
    clear: both;
    visibility: hidden;

}
.texthoger {
    text-align: right;
}